<h1>Closest Electric Station</h1>

<h3><%= @station.name %><br></h3>
<%= @station.street_address %><br>
<%= @station.city %><br>
<%= @station.state %><br>
<%= @station.zip %><br>
<%= @station.fuel_type %><br>
<%= @station.access_times %><br>
<h3>Directions</h3>
<%= "#{@directions.distance} miles" %><br>
<%= @directions.time_to_destination %><br>
<%= @directions.instructions %>