<h1>Closest Station</h1>

<%= @station.name %>
<%= @station.street_address %>
<%= @station.city %>
<%= @station.state %>
<%= @station.zip %>
<%= @station.fuel_type %>
<%= @station.access_times %>
<%= @directions.distance %>
<%= @directions.time_to_destination %>
<%= @directions.instructions %>